<%- include('../partials/header') %>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= JSON.stringify(feed) %>
  </body>
  </html>

  <%- include('../partials/footer') %>